<html>
    <head>
        <meta charset="UTF-8">
        <title> Sign In</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">           
    </head>
    <body></br></br></br></br></br>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word">Sign In</h1>
             </div></br></br></br>
	 <p class="header">Dont't have an account?  <a class="header" href="{{url_for('register')}}"> Sign Up</a></p>
            <h2 class="word">
                <form action="{{ url_for('login') }}" method="post">
                  <div class="msg"></div>
                    Email </br><input id="email" name="email" type="text" placeholder="Enter email id" class="textbox"/></br></br>
                    </br>Password </br><input id="password" name="password" type="password" placeholder="Enter password" class="textbox"/></br></br></br>
                   <p class="header"><a class="header" href="{{url_for(' ')}}"> Forgot your password?</a></font></br></br>
	 <input type="submit" class="btn" value="Sign In"></br></br></br>	
                </form>
            </h2>
          </div>
        </div>
    </body>
</html>